<div class="nav-container container-fluid right-tabs">
  <nav class="navbar navbar-fixed-top navbar-right">
    <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
    <ul class="nav-list navbar-nav pull-right right-to-left">
      <li class=<%= "active" if current_page?(new_attendee_path) %>><%= link_to "Register", new_attendee_path, class: "hvr-sweep-to-right" %></li>
      <li>
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">The Details </a>
        <ul class="nav-dropdown">
          <li class=<%= "active" if current_page?(about_path) %>><%= link_to "About", about_path, class: "hvr-sweep-to-right" %></li>
          <li class=<%= "active" if current_page?(comments_path) %>><%= link_to "Comments", comments_path, class: "hvr-sweep-to-right" %></li>
          <li class=<%= "active" if current_page?(faq_path) %>><%= link_to "FAQ", faq_path, class: "hvr-sweep-to-right" %></li>
        </ul>
      </li>
     <li class=<%= "active" if current_page?(welcome_path) %>><%= link_to "Home", welcome_path, class: "hvr-sweep-to-right" %></li>
    </ul>
  </nav>
</div>
