<div class='container'>
  <%= bootstrap_form_for(@attendee, layout: :horizontal)  do |f| %>
    <%= f.alert_message "Please fix the errors below." %>
    <%= f.text_field :first_name, placeholder: "Enter your first name", class: "form-control required", control_col: "col-sm-8", autofocus: true, label: "First Name" %>
    <%= f.text_field :surname, placeholder: "Enter your surname", class: "form-control required", control_col: "col-sm-8", label: "Surname" %>
    <%= f.number_field :age, placeholder: "Enter your age", class: "form-control required", control_col: "col-sm-8" %>
    <%= f.text_field :email, placeholder: "Enter your email", class: "form-control required", control_col: "col-sm-8" %>
    <%= f.text_field :address, placeholder: "Enter your address", class: "form-control required", control_col: "col-sm-8" %>
    <%= f.text_field :phone_number, placeholder: "Enter your phone number", class: "form-control required", control_col: "col-sm-8", label: "Phone Number" %>
    <%= f.date_field :wedding_date, placeholder: "Enter your wedding date", class: "form-control required", control_col: "col-sm-8", label: "Wedding Date" %>
    <%= f.collection_select :preferred_event, Event.all, :id, :event_name, prompt: 'Select event', class: 'form-control required', control_col: "col-sm-8", label: "Preferred Event" %>
    <%= f.text_field :fiance_full_name, placeholder: "Enter your fiance's full name", class: "form-control required", control_col: "col-sm-8", label: "Fiances Full Name" %>
    <%= f.select :religion, Attendee.religion_types.keys.to_a, control_col: "col-sm-8", label: "Religion", :selected => 'CATHOLIC'%>
    <%= f.text_field :parish, placeholder: "Enter your parish", class: "form-control required", control_col: "col-sm-8" %>
    <%= f.text_field :post_wedding_address, placeholder: "Enter your post wedding address or 'Unknown' if necessary", class: "form-control required", control_col: "col-sm-8", label: "Post Wedding Address" %>
    <%= f.text_field :dietary_requirements, placeholder: "Enter your dietary requirements (if any)", class: "form-control required", control_col: "col-sm-8", label: "Dietary Requirements" %>
    <div>
      <%= button_tag(type: "submit", class: "success hollow button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}) do %>
        <i class="fa fa-save"></i> Save
      <% end %>
      <%= link_to "Cancel", welcome_path %>
    </div>
  <% end %>
</div>
