<div class="container all-attendees">
  <h2>Attendees</h2>
  <div class="pull-right">
    <%= link_to "Add Attendee", new_attendee_path, class: "hollow button", id: "new-attendee-link" %>
  </div>
  <div class="table wrapper">
    <div class="table-row">
      <div class="table-head">First Name</div>
      <div class="table-head">Surname</div>
      <div class="table-head">Age</div>
      <div class="table-head">Email</div>
      <div class="table-head">Fiance's Full Name</div>
      <div class="table-head">Preferred Event</div>
      <div class="table-head">Religion</div>
      <div class="table-head">Wedding Date</div>
      <div class="table-head">Post Wedding Address</div>
      <div class="table-head">Dietary Requirements</div>
      <div class="table-head">Administration</div>
    </div>
    <% @attendees.each do |attendee| %>
      <div class="table-row">
        <div class="table-cell"><%= attendee.first_name %></div>
        <div class="table-cell"><%= attendee.surname %></div>
        <div class="table-cell"><%= attendee.age %></div>
        <div class="table-cell"><%= attendee.email %></div>
        <div class="table-cell"><%= attendee.fiance_full_name %></div>
        <div class="table-cell"><%= Event.find(attendee.preferred_event).event_date.to_s %></div>
        <div class="table-cell"><%= attendee.religion %></div>
        <div class="table-cell"><%= attendee.wedding_date %></div>
        <div class="table-cell"><%= attendee.post_wedding_address %></div>
        <div class="table-cell"><%= attendee.dietary_requirements %></div>
        <div class="table-cell"><%= link_to "Edit", edit_attendee_path(id: attendee.id), class: "hollow button", id: "edit-attendee-link" %><%= link_to "Delete", attendee_path(attendee), method: :delete, class: "hollow button", id: "delete-attendee-link" %></div>
      </div>
    <% end %>
  </div>
</div>
