<div class="container">
  <%= bootstrap_form_for(@event, layout: :horizontal)  do |f| %>
    <%= f.alert_message "Please fix the errors below." %>
    <%= f.text_field :event_date, placeholder: 'Enter event date ', class: 'form-control required' %>
    <%= f.date_field :start_date, placeholder: "Enter event start date", class: "form-control required", control_col: "col-sm-8" %>
    <%= f.text_field :location, placeholder: "Enter event location", class: "form-control required", control_col: "col-sm-8" %>
      <%= button_tag(type: "submit", class: "success hollow button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}) do %>
        <i class="fa fa-save"></i> Save
      <% end %>
      <%= link_to "Cancel", welcome_path %>
    </div>
  <% end %>
</div>
