<% @events = locals[:events] if @events.nil? %>
<div class="pull-right">
  <%= link_to "Add Event", new_event_path, class: "hollow button", id: "new-event-link" if current_user && user_signed_in? %>
</div>
<div class="row all-events">
  <div class="col-md-8">
    <div class="table wrapper">
      <div class="table-row">
        <div class="table-head">Event Date</div>
        <div class="table-head">Location</div>
        <% if current_user && user_signed_in? %>
          <div class="table-head">Administration</div>
        <% end %>
      </div>
      <% @events.each do |event| %>
        <div class="table-row">
          <div class="table-cell"><%= event.event_date %></div>
          <div class="table-cell"><%= event.location %></div>
          <% if current_user && user_signed_in? %>
            <div class="table-cell"><%= link_to "Edit", edit_event_path(id: event.id), class: "hollow button", id: "edit-event-link" %><%= link_to "Delete", event_path(event), method: :delete, class: "hollow button", id: "delete-event-link" %></div>
          <% end %>
        </div>
      <%end%>
    </div>
  </div>
</div>
