<div class="team-page">
  <% @team = JSON.parse((File.read("#{Rails.root}/public/json/team.json"))) %>
  <% @team.each do |b| %>
    <div class="row text-center">
      <dl class="col-sm-4">
        <% @file_1 = b["file_1"] %>
        <dt>Couple Photo</dt>
        <dd><%= image_tag(@file_1, class: "tidy-img") %></dd>
        <dt>Couple Name</dt>
        <dd><p><%= b["name_1"] %></p></dd>
        <dt>Couple Title</dt>
        <dd><%= b["title_1"] %></dd>
      </dl>
      <dl class="col-sm-4">
        <% @file_2 = b["file_2"] %>
        <dt>Couple Photo</dt>
        <dd><%= image_tag(@file_2, class: "tidy-img") %></dd>
        <dt>Couple Name</dt>
        <dd><p><%= b["name_2"] %></p></dd>
        <dt>Couple Title</dt>
        <dd><%= b["title_2"] %></dd>
      </dl>
      <dl class="col-sm-4">
        <% @file_3 = b["file_3"] %>
        <dt>Couple Photo</dt>
        <dd><%= image_tag(@file_3, class: "tidy-img") %></dd>
        <dt>Couple Name</dt>
        <dd><p><%= b["name_3"] %></p></dd>
        <dt>Couple Title</dt>
        <dd><%= b["title_3"] %></dd>
      </dl>
    </div>
  <% end%>
</div>
